
h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 40px;
}

body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FCoffee_bean&psig=AOvVaw0Ds5EkkJv3gqrf87_LzjyU&ust=1713537474508000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCODN2OH-y4UDFQAAAAAdAAAAABAE);
}

.menu {
    background-color: rgb(199, 199, 89);
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

body {
    background-image: url(https://cdn.glitch.global/1cd8c231-f820-4b94-8a3f-da5bba9d1e13/thumbnails%2Fbeans.jpg?1713512236884);
}

.established {
    font-style: italic;
}
hr {
    height: 3px;
    background-color: brown;
    border-color:brown;
    border-radius: 3px;
}



.item p{
    display: inline-block;
}
.dessert, .flavor{
    width: 75%;
    text-align: left;
}

.price{
    text-align: right;
    width: 25%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -23px;

}
h1, h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    color: black;
}

a:hover{
    color: white;
}

a:visited{
    color: blue;

}
a:active{
    color:red;
}